{% extends 'base.html' %}

{% block content %}
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">{% block title %} Asignaciones de Grimorios {% endblock %}</h1>
			<p class="lead text-muted">
				Aquí podrás ver todas las asignaciones realizadas en el sistema.
			</p>
		</div>
	</section>
	<div class="py-4 bg-light">
		<div class="container">
			<h2 class="py-4 text-center">Asignaciones realizadas</h2>
			<div class="row">
				{% for assignment in assignments %}
				<div class="col-md-4">
					<div class="card mb-4 box-shadow align-items-center">
						<img class="card-img-top"
							data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text={{ assignment['grimorio']['name'] }}"
							alt="{{ assignment['grimorio']['name'] }}" style="height: auto; width: 50%; display: block;" src="{{ assignment['grimorio']['image'] }}"
							data-holder-rendered="true" loading="lazy">
						<p class="card-text fw-semibold text-center">{{ assignment['application']['name'] }} {{ assignment['application']['last_name'] }}</p>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><i class="bi bi-person-hearts"></i> Edad: {{ assignment['application']['age'] }}</li>
							<li class="list-group-item"><i class="bi bi-magic"></i> Afinidad mágica: {{ assignment['application']['magic_affinity']['value'] }}</li>
							<li class="list-group-item"><i class="bi bi-person-vcard"></i> Identificación: {{ assignment['application']['identification'] }}</li>
							<li class="list-group-item"><i class="bi bi-journal-medical"></i> Grimorio: {{ assignment['grimorio']['clover_type']['value'] }}</li>
							<li class="list-group-item"><i class="bi bi-stars"></i> Grimorio rareza: {{ assignment['grimorio']['rarity']['value'] }}</li>
						</ul>
						<div class="mt-2 align-items-end text-right">
							<i class="bi bi-journal-medical"></i> <small class="text-muted">ID: {{ assignment['id'] }}</small>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
